@tailwind base;
@tailwind components;
@tailwind utilities;


/* In your global CSS file */
.hide-scrollbar {
    /* Hide scrollbar for Chrome, Safari, Opera */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
